<%- include('partials/head.ejs'); -%>

<div>
  <section class="message__title">
    <h1 class="extra-bold"><span>Lettre à </span><span>soi-même</span></h1>
    <p>
      Cet outil te permet d’écrire un message à ton futur toi et de le recevoir plus tard par email.
      C’est une façon simple de poser tes pensées, de garder une trace de ce que tu ressens
      aujourd’hui et de constater, avec le temps, que tout évolue. Une lettre à soi-même peut
      aider à voir plus clair, retrouver du recul et avancer plus sereinement.
    </p>
  </section>

  <article class="grid counter card">
    <p class="light no-marge">Messages programmés : <span class="bold"><%=messagePending%></span></p>
    <p class="light no-marge">Messages envoyés : <span class="bold"><%=sentMessageCount%></span></p>
  </article>

  <form id="formMessage" action="/tool/add-message" method="POST">
    <article class="card">
      <!-- FLASH MESSAGE -->
      <% if (messages && messages.length > 0) { %> <% messages.forEach(m => { %>
      <small class="<%= m.type %>-message extra-bold"><%= m.text %></samll>
      <% }) %> <% } %>
      <label>
        Prénom
        <input type="text" name="name" placeholder="Florian" required value="<%= messages[0]?.data?.name || '' %>" />
      </label>

      <label>
        Email
        <input
          type="email"
          name="email"
          placeholder="exemple@domaine.com"
          required
          value="<%= messages[0]?.data?.email || '' %>"
        />
      </label>

      <label>
        Quand veux-tu recevoir ton message ?
        <select name="delay" aria-label="Dans combien de temps veux-tu relire ce message ?" required>
          <option selected disabled value="" <%= !messages[0]?.data?.delay ? "selected" : "" %>>Séléctionne un délai...</option>
          <option value="3d" <%= messages[0]?.data?.delay === "3d" ? "selected" : "" %>>3 jours</option>
          <option value="1w" <%= messages[0]?.data?.delay === "1w" ? "selected" : "" %>>1 semaine</option>
          <option value="1m" <%= messages[0]?.data?.delay === "1m" ? "selected" : "" %>>1 mois</option>
          <option value="3m" <%= messages[0]?.data?.delay === "3m" ? "selected" : "" %>>3 mois</option>
          <option value="6m" <%= messages[0]?.data?.delay === "6m" ? "selected" : "" %>>6 mois</option>
        </select>
      </label>

      <label>
        Message <small id="char-counter">0 / 5000</small>
        <div class="textarea-wrapper">
          <textarea
            id="message"
            name="message"
            rows="6"
            placeholder=""
            maxlength="5000"
            minlength="10"
            required
          ><%= messages[0]?.data?.message || '' %></textarea>
          <span id="fake-placeholder"></span>
        </div>
      </label>

      <dialog id="confirmFormMessage">
        <article>
          <p>Chaque email ne peut être utilisé qu'une seule fois à la fois.</p>
          <p>Vous pourrez programmer un nouveau message uniquement après avoir reçu celui-ci.</p>
          <p>Voulez-vous envoyer ce message tel quel ?</p>
          <footer>
            <button id="messageFormClosedButton" type="button">Revoir</button>
            <button id="messageFormSubmitButton" type="button">Envoyer</button>
          </footer>
        </article>
      </dialog>
      <label class="recaptcha-wrapper">
        <div class="g-recaptcha" data-sitekey="<%= siteKey %>"></div>
      </label>
      <button type="submit">Envoyer !</button>
    </article>
  </form>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<%- include('partials/footer.ejs'); -%>
